#cuerpo {
	background-color: #f3f3f3 ;
	scrollbar-arrow-color:#f3f3f3; 
    scrollbar-track-color:#f3f3f3; 
    scrollbar-shadow-color:#f3f3f3; 
    scrollbar-face-color:#f3f3f3; 
    scrollbar-highlight-color:#f3f3f3; 
    scrollbar-darkshadow-color:#f3f3f3; 
    scrollbar-3dlight-color:#f3f3f3; 
} 

#banner {
height:300px;
width: 980px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}

#caja {
height: 300px;
width:200px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}

#selector {
alignment-adjust: central;
background-color: #ededed;
height:130px;
width:100px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}

#slider {
background-color: #ededed;
height:130px;
width:100px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}

#tendencias {
background-color: # 339;
height:130px;
width:100px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}

#contenedor_izquierda{
background-color: #ededed;
width:12.6%;
position: fixed;
left:1px;
border: 1px  #ededed;
top:45px;
height:90%;
}

#contenedor_principal{
	background-color: #000;	
	position: fixed;
	width: 74%;
	height: 95%;
	left: 13%;
	top: 45px;
}

#contenedor_derecha{
background-color: #ededed;
width:12.5%;
position: fixed;
right:0px; 
border:0px  #ededed;
top:45px;
height: 50%;
}

#carrito {
background-color: #FFF;
height:130px;
width:100px;
padding: 15px;
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
/* para IE */
behavior:url(border.htc);
}







